.boards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.list {
  display: flex;
  flex-wrap: wrap;
}

.card {
  background-color: var(--color-primary);
  margin: 0 calc(var(--layout-padding) / 2) calc(var(--layout-padding) / 2) 0;
  border-radius: 4px;
  border: 1px solid var(--color-primary-dark);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0px 1px 31px -5px rgba(0, 0, 0, 0.82);
  cursor: pointer;
}

.card button {
  background-color: transparent;
  border: none;
}

.card button:hover {
  background-color: transparent;
}

.card .upvote {
  position: absolute;
  top: 0;
  right: 0;
  color: var(--color-light-text);
  display: flex;
  align-items: center;
}

.card .upvote button {
  color: var(--color-secondary);
  font-size: 2rem;
}
.card .upvote button:hover {
  color: var(--color-secondary-dark);
}

.card .delete {
  position: absolute;
  right: 0;
  bottom: 0;
  color: var(--color-primary-dark);
}

.card .delete:hover {
  color: black;
}

.card img {
  width: var(--card-size);
  height: var(--card-size);
  object-fit: contain;
  background-color: var(--color-dark-bg);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.card h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: calc(var(--card-size) - var(--layout-padding));
}
