.actions {
  display: flex;
  margin-bottom: 16px;
  position: relative;
  align-items: center;
  padding-left: calc(var(--layout-padding) * 3);
  /* flex-wrap: wrap; // @TODO */
}

.tab {
  padding: 8px 16px;
  background-color: var(--color-light-bg);
  border: none;
  border-radius: 0%;
  cursor: pointer;
  border-bottom: 3px solid var(--color-primary);
  transition: background-color 0.3s;
}

.tab.active {
  background-color: var(--color-primary);
}

.tab:hover {
  background-color: var(--color-primary-dark);
}
