.search {
  flex: 1;
  display: flex;
  max-width: 575px;
  border-radius: 6px;
}

.search input {
  flex: 1;
  border-radius: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  margin-bottom: 0;
}

.search button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border: none;
}
